<h1>Incidents</h1>
<p>&nbsp;</p>
<% column_list = %w(omg_id omg_title drill_tester_email workspace_bugs gcp_bugs) %>
<table class="table table-striped">
  <thead>
    <tr>
      <% column_list.each do |n| %>
        <%= content_tag(:th, n) %>
      <% end %>
    </tr>
  </thead>
  <% @incidents.each do |i| %>
    <tr>
      <% column_list.each do |n| %>
        <%= content_tag(:td, i.send(n)) %>
      <% end %>
    </tr>
  <% end %>
</table>
<div align="right">
  <%= link_to "New Incident", new_incident_path, role: "button", class: "btn btn-primary" %>
</div>