<body style="background-color: #ddd">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h1>Message preview for incident "<%= @incident.omg_title %>"</h1>
    </div>
    <div class="col-md-4 float-right">
      <%= link_to "Send Message", "/incidents/#{@incident.id}/message_send?template_id=#{@template.id}", method: "GET", class: "btn btn-primary" %>
    </div>
  </div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src=<%= "/incidents/#{@incident.id}/message_preview_raw?template_id=#{@template.id}" %>>
    </iframe>
  </div>
</div>
</body>